body{
    margin:0;
    padding:0;
}
.content{
    display:grid;
    grid-template-columns:200px auto 200px;
    grid-template-rows: 70px  20px auto 150px;

}
#logo{
height: 140px;
width: 180px;
}
#one{
    color:black;
    text-decoration: underline;
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#two{
    color:black;
    text-decoration: underline;
    font-size: 50px;
   font-family: Georgia, 'Times New Roman', Times, serif;
}
#three{
    color:black;
    text-decoration: underline;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#four{
    color:black;
    text-decoration: underline;
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
#head{

grid-column-start:1 ;
grid-column-end: 4;

grid-row-start:1 ;
grid-row-end: 2;
background-color: black;

}
#menu{
    height: 70px;
    background-color: black;
    grid-column-start: 1;
    grid-column-end: 4;

    grid-row-start: 2;
    grid-row-end: 3;
    margin-top:0;


    
}
#body{
margin-top: 80px;
grid-column-start: 2;
grid-column-end: 3;
 

grid-row-start: 3;
grid-row-end: 4;



}
.footer-distributed{

grid-column-start:1;
grid-column-end: 4;

 

grid-row-start:4;
grid-row-end:5;
}
.footer-distributed {
    background-color: #292c2f;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    font: normal 16px sans-serif;
    padding: 45px 50px;
  }
  
  .footer-distributed .footer-left p {
    color: #8f9296;
    font-size: 14px;
    margin: 0;
  }
  /* Footer links */
  
  .footer-distributed p.footer-links {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin: 0 0 10px;
    padding: 0;

    text-decoration: none;
  }
  
  .footer-distributed p.footer-links a {
    display: inline-block;
    padding-left:25px;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    transition: ease .25s;
  }
  
  .footer-distributed .footer-links a:before {
    
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    margin-left: 10px;;
  }
  
  .footer-distributed .footer-links .link-1:before {
    content: none;
  }
  
  .footer-distributed .footer-right {
    float: right;
    margin-top: 6px;
    max-width: 180px;
  }
  
  .footer-distributed .footer-right a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-left: 3px;
    transition:all .25s;
  }
  
  .footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);
 
}
  
  .footer-distributed p.footer-links a:hover{text-decoration:underline; color: red;}
  
  /* Media Queries */
  
  @media (max-width: 600px) {
    .footer-distributed .footer-left, .footer-distributed .footer-right {
      text-align: center;
    }
    .footer-distributed .footer-right {
      float: none;
      margin: 0 auto 20px;
    }
    .footer-distributed .footer-left p.footer-links {
      line-height: 1.8;
    }
  }
nav {

    text-align: center;
    background-color: black;

  }
  
  nav ul ul {
    display: none;
  }
  
    nav ul li:hover > ul {
      display: block;
    }
  
  
  nav ul {
    box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
    padding: 0 20px;
    border-radius: 10px;  
    list-style: none;
    position: relative;
    display: inline-table;
  }
    nav ul:after {
      content: ""; clear: both; display: block;
    }
  
    nav ul li {
      float: left;
    
    }
      nav ul li:hover {
        background: black;
        
      }
        nav ul li:hover a {
          color:red;
          
        }
      
      nav ul li a {
        display: block;
        line-height: 30px;
        padding-left: 40px;
        margin-left: 100px;
        font-size: 20px;
        color:white;
        text-decoration: none;
      }
        
      
    nav ul ul {
      background: black; border-radius: 0px; padding: 0;
      position: absolute; top: 100%;
    }
      nav ul ul li {
        float: none; 
        border-top: 1px solid black;
        border-bottom: 1px solid #575f6a; position: relative;
      }
        nav ul ul li a {
          padding: 15px 40px;
          color: #fff;
        } 
          nav ul ul li a:hover {
            background:white;
          
          }
      
    nav ul ul ul {
      position: absolute; left: 100%; top:0;
    }
    form,ul{margin:0;padding:0;}
    .nav ul{list-style:none;}
    .nav ul a{color:#999;text-decoration:none;}
    .nav {
      background-color: white;
      color: black;
      padding-top: 1em;
      display:flex;
      flex-wrap:wrap;
      align-items:center;
    }