body{
    margin:0;
    padding:0;
}
.content{
    display:grid;
    grid-template-columns:200px auto 200px;
    grid-template-rows: 70px 20px auto 150px;

}
#logo{
height: 140px;
width: 180px;
}
#one{
    color:black;
    text-decoration: underline;
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#two{
    color:black;
    text-decoration: underline;
    font-size: 50px;
   font-family: Georgia, 'Times New Roman', Times, serif;
}
#three{
    color:black;
    text-decoration: underline;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#four{
    color:black;
    text-decoration: underline;
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
#head{

grid-column-start:1 ;
grid-column-end: 4;

grid-row-start:1 ;
grid-row-end: 2;

}
#menu{
    grid-column-start: 1;
    grid-column-end: 4;

    grid-row-start: 2;
    grid-row-end: 3;
    margin-top: 50px;

    
}
#body{
margin-top: 30px;
grid-column-start: 2;
grid-column-end: 3;
 

grid-row-start: 3;
grid-row-end: 4;
margin-top: 70px;;


}
#footer{

grid-column-start:1;
grid-column-end: 4;

 

grid-row-start:4;
grid-row-end:5;
}
#foot{
    width: 100%;
    height: 300px;
}

